body {
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 50px;
    background-color: peachpuff;
}

#title {
    text-align: center;
}

h2 {
    font-size: 30px;
    background-color: lightcoral;
}

input, textarea, select {
    background-color: #97b4c7;
}

label {
    font-size: 16px;
}

table {
    border: solid 3px;
    margin: 50px;
}

footer {
    background-color: lightgreen;
}

form {
    background-color: lightsalmon;
}

td {
    padding: 8px;
}

a:hover {
    background-color: red;
}

